header {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#websiteNav {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#demoNav {
    position: sticky;
    top:0;
}

#singleFigure {
    padding-bottom: 1em;
    margin: 2px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#majorContent {
    display: flex;
}

main {
    margin-left: 3em;
    width: 68%;
}

aside {
    width: 25%;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100vh;
    overflow: scroll;
}

#importantButtons {
    position: sticky;
    top: 0;
}

footer {
    clear: both;
    padding-bottom: 2em;
}