.App {
  text-align: center;
}

.docMain {
  text-align: left;
}

h2 {
  margin-top: 1em;
}

h3 {
  margin-top: 2em;
}

h4 {
  margin-top: 2em;
}

#docMajorContent {
  display: flex;
}

#classAPIReference p {
  padding-left: 1em;
}

#docIndex {
  margin-left: 2em;
  text-align: left;
  width: 280px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  border-style: groove;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
